chromadb
fastapi
langchain
langchain-core
langchain-community
langchain-anthropic
langchain-chroma
langchain-huggingface
langchain-text-splitters
pandas
pdfplumber
pydantic
pypdf
python-dotenv
python-multipart
sentence-transformers
uvicorn
